*{
    padding: 0;
    margin:0;
}
.header{
    position: relative;
    height: 600px;
    width: 100%;
    background: url(../images/vershyna.jpg) no-repeat top;
    background-size: 100%;
    /*background-color: red;*/
    clear: both;
    list-style-type: none;
}
.topmenu{
    position: relative;
    height:30px;
    padding: 10px;
    margin: 0 auto;
}
.topmenu ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left:50%;
    float:left;
    font:20px "Palatino Linotype";
    height:30px
}
.topmenu ul li {
    position:relative;
    left:-50%;
    float:left;
    margin:0 5px;
    height:30px
}
.topmenu ul li a {
    display:block;
    text-decoration:none;
    padding:4px 10px;
    color: white;
}
.topmenu ul li a:hover {
    text-decoration: underline;
}
.slogan{
	height: 100%;
	text-align: center;
	width: 100%;
	margin-top: 100px;
}
.slogan h1{
	font:30px "Palatino Linotype";
	color: white;
}
.topnav{
    
    position: absolute;
    bottom: 0;
    height:70px;
    padding: 10px;
    left: 40%;
}
.topnav ul li{
    display: inline-block;
}
.topnav ul li a{
    padding: 10px;
}
    
.about {
    margin: 50px 50px;
    background-color: #B982CD;
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    /*background-color: red;*/
}
#aboutme h1{
    text-align: center;
    font:30px "Palatino Linotype";
	color: white;
}
#aboutme img{
    width: 30%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    float:left;
}
.text{
    margin-left: 100px;
    padding:30px;
    font:18px "Palatino Linotype";
	color: white;
	text-align: left;
	width: 800px;
}
.button a input{
    margin: 10px;
    padding: 10px;
    font:18px "Palatino Linotype";
    color: white;
    background-color: blue;
    border:none;
    border-radius: 10px;
}
#myskills {
    background-color: #97CEB3;
    height: 300px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    /*background-color: red;*/
}
#myskills h1{
   font:30px "Palatino Linotype";
    color: white; 
    text-align: center;
}
#gallery{
    background-color: #FCF7B4;
    height: 350px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}
#gallery h1{
    font:30px "Palatino Linotype";
    color: white; 
    text-align: center;
}
#gallery a img{    
    -webkit-border-radius: 25px;
    -moz-border-radius:  25px;
    border-radius:  25px;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    -moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    margin-right:5px; 
    padding:10px;
    display:inline-block;
    height:150px; 
}
#gallery a img:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
#gallery a:focus img{
    position: relative;
    height:300px; 
    cursor: pointer; 
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
}
#gallery a{
    outline:0; border:0;
}
.contact{
    background-color: #B2EF89;
    height: 250px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.contact h1{
    font:30px "Palatino Linotype";
    color: white; 
    text-align: center;
}
.contact-form .left{
   margin: 20px;
   padding: 20px;
}
.contact-form .right{
    position: absolute;
    right: 30%;
}
.left div{
    padding: 10px;
}
.right div{
    margin-bottom: 120px;
}
.contact span label{
    font:18px "Palatino Linotype";
    color: white; 
}
.contact div input{
    font:20px "Palatino Linotype";
    color: #B2EF89; 
    background-color: white;
}
.footer{
    background-color: #EFCC8F;
    height: 50px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    position: relative;
}